{# 
    Required: section tag and id
    example: <section id="0"> My first section...</section><section id="1"> My second section...</section>
#}
{# <div class="btn-group-vertical" style="position: fixed; bottom: 20px; right: 20px;">
    <button class="btn btn-secondary" onclick="scrollToTop()"><i class="fas fa-fast-backward fa-rotate-90"></i></button>
    <button class="btn btn-secondary" onclick="scrollToLast()"><i class="fas fa-step-backward fa-rotate-90"></i></button>
    <button class="btn btn-secondary" onclick="scrollToNext()"><i class="fas fa-step-forward fa-rotate-90"></i></button>
    <button class="btn btn-secondary" onclick="scrollToBottom()"><i class="fas fa-fast-forward fa-rotate-90"></i></button>
</div> #}
<div style="position: fixed; bottom: 20px; right: 20px;">
    <button class="btn btn-secondary" style="position: fixed; bottom: 100px; right: 60px;" onclick="scrollToTop()"><i class="fas fa-step-backward fa-rotate-90"></i></button>
    <button class="btn btn-secondary" style="position: fixed; bottom: 60px; right: 100px;" onclick="scrollToLeft()"><i class="fas fa-step-backward"></i></button>
    <button class="btn btn-secondary" style="position: fixed; bottom: 60px; right: 20px;;" onclick="scrollToRight()"><i class="fas fa-step-forward"></i></button>
    <button class="btn btn-secondary" style="position: fixed; bottom: 20px; right: 60px;" onclick="scrollToBottom()"><i class="fas fa-step-forward fa-rotate-90"></i></button>
</div>
{% block javascripts %}
<script>
var id="{{ id }}";
var el;
window.onload = scrollTo(id);
function scrollTo(section) { el = document.getElementById(section); id = section; el.scrollIntoView(); }
function scrollToTop() { el = document.getElementById(0); el.scrollIntoView(); id=0; }
function scrollToBottom() { el = document.getElementById(2); el.scrollIntoView(); id=2; }
{# function scrollToLast(){ id=id-1; el = document.getElementById(id); if(null == el) { id = id+1; return false; } el.scrollIntoView(); }
function scrollToNext(){ id=id+1; el = document.getElementById(id); if(null == el) { id = id-1; return false; } el.scrollIntoView(); } #}
function scrollToLeft() { window.scrollBy(150, 0); return true; }
function scrollToRight() { window.scrollBy(-150, 0);return true; }
</script>
{% endblock %}
